body {
	margin: 0;
}

/* Header Section */

header {
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	border: 1px solid black;
}

nav ul {
	display: inline-flex;

}

li {
	list-style: none;
	width: 50px;
	text-align: center;
	margin: 0 20px;
}

li a {
	color: black;
}

.logo {
	color: MediumAquamarine;
	display: flex;
	align-items: center;
}

.logo span {
	padding-left: 4px;
}

/*Body Section*/

h2 {
	font-family: Georgia;
	font-weight: bold;
	font-size: 30px;
}

.page {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.page p {
	text-align: justify;
	font-family: Georgia;
	font-size: 17px;
	color: black;
}

#main,
#fall,
#hipster,
#cat {
	color: white;
}


/*Large Column*/

.col-large {
	width: 630px;
	margin: 5px;
}

.col-large-bot {
	display: flex;
	justify-content: space-between;
}

.bot {
	max-width: 300px;
}

#main {
	background-image: url("../images/main.png");
	height: 300px;
	display: flex;
	align-items: center;
}

#main h2{
	font-size: 40px;
}

#fall {
	background-image: url("../images/fall.png");
	text-align: center;
	height: 300px;
	display: flex;
	align-items: center;
}

#hipster {
	background-image: url("../images/hipster.png");
	text-align: center;
	height: 300px;
	display: flex;
	align-items: center;
}

/*Medium/Middle Column*/

.col-med {
	width: 300px;
	margin: 5px;
}

#cat {
	background-image: url("../images/cat.png");
	text-align: center;
	height: 300px;
	display: flex;
	align-items: center;
}

/*Small Column*/

.col-sml {
	width: 240px;
	margin: 5px;
	display: flex;
	flex-direction: column;
}

.col-sml h3 {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

.bite {
	border-bottom: 1px solid black;
	background-color: WhiteSmoke;
	font-family: Verdana;
	font-size: 12px;
	color: DimGray;
	padding: 7px;
}

footer {
	background-color: MediumAquamarine;
	margin: auto;
	font-family: Verdana;
	font-size: 12px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 300px;
}

.flex {
	display: flex;
	align-items: center;
}

.flex li {
	margin: 0 10px;
}

#foot-title {
	font-family Georgia;
	font-size: 16px;
	font-weight: bold;
	color: white;
}